/*Selector universal*/
*{
    padding: 0; 
    margin: 0;
}
/*Selector de tipo: Etiqueta*/
body{
    background-color:rgb(0, 13, 128);

}
/*Ajustar las tarjetas a varias lineas*/
main{
    display: flex;
    flex-wrap: wrap;
}
h1{
    color:white;
}
/*Selector de tipo: Clase*/
/*Reutilizar estilos*/
.tarjeta {
    width: 320px;
    background-color: rgb(215, 239, 250);
    border-radius: 3%;

    /*Centrando elementos*/
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin: 10px; /*separacion*/
    display:inline-block;
    transition: all 0.4s ease-in-out; /*Transicion suave*/

}
.tarjeta .caja-contenedora{
    width: 200px;
}


/*pseudoclase hover para crear animaciones*/
.tarjeta  :hover{background-color: rgb(186, 171, 201);
    transform: scale(1.05);
    transform: rotate(3deg);
    
}
.tarjeta img{
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.tarjeta p{
    font-size: 20px;
} 
#gato{
    color: darkslategray;
}